-- Enable Realtime and Full Replica Identity for core tables
-- This ensures that Realtime events (postgres_changes) include old/new data correctly.

-- 1. Set Replica Identity to Full
ALTER TABLE public.messages REPLICA IDENTITY FULL;
ALTER TABLE public.mood_checkins REPLICA IDENTITY FULL;
ALTER TABLE public.tasks REPLICA IDENTITY FULL;
ALTER TABLE public.photos REPLICA IDENTITY FULL;
ALTER TABLE public.photo_comments REPLICA IDENTITY FULL;
ALTER TABLE public.events REPLICA IDENTITY FULL;
ALTER TABLE public.schedule_blocks REPLICA IDENTITY FULL;
ALTER TABLE public.daily_prayers REPLICA IDENTITY FULL;
ALTER TABLE public.daily_spiritual_logs REPLICA IDENTITY FULL;
ALTER TABLE public.complaints REPLICA IDENTITY FULL;
ALTER TABLE public.complaint_messages REPLICA IDENTITY FULL;
ALTER TABLE public.love_streaks REPLICA IDENTITY FULL;

-- 2. Ensure all tables are in the supabase_realtime publication
-- We use a DO block to avoid errors if the table is already in the publication
DO \$\$
DECLARE
    tab text;
    tables_to_add text[] := ARRAY[
        'messages', 'mood_checkins', 'tasks', 'photos', 'photo_comments', 
        'events', 'schedule_blocks', 'daily_prayers', 'daily_spiritual_logs', 
        'complaints', 'complaint_messages', 'love_streaks'
    ];
BEGIN
    FOREACH tab IN ARRAY tables_to_add LOOP
        BEGIN
            EXECUTE format('ALTER PUBLICATION supabase_realtime ADD TABLE public.%I', tab);
        EXCEPTION
            WHEN duplicate_object THEN
                NULL; -- Table already in publication
        END;
    END LOOP;
END \$\$;
